<div class="ui blue inverted menu">
<div class="ui container">
    <%= link_to "Home", root_path, class: "ui item"%>

    <div class="right menu">

  <%if logged_in?%>
<%= link_to "Logout", logout_path, method: :delete, class: "ui item" %>
  <%else%>
    <%= link_to "Login", login_path, class: "ui item"%>
    <a class="ui item">
    Signup
    </a>
  <%end%>


  </div>
</div>
</div>