<% @friends_list.each do |friend|%>
<li><%= friend.full_name %></li>
<li><%= link_to("Stop following", friendship_path(friend), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-warning btn-xs")%></li>
<%end%>