<%= render "layouts/messages"%>

<%if @stock %>
<div class="card card-header results-block">
<strong>Symbol: <strong><%= @stock.ticker %></strong></strong>
<strong>Name: <strong><%= @stock.name %></strong></strong>
<strong>Last Price: <strong><%= @stock.last_price %></strong></strong>
</div>
<%end%>