<h1 class="ui centered header">
Speak your mind
</h1>


<div class="ui centered grid chat">
  <div class="ui card nine wide column">
  <div class="ui feed" id="message-container">
  <%= render @messages %>
  </div>

    <div class="extra content">
    <%= form_for(@message, html: {class: "ui reply form", role:"form"}, url:message_path, remote: true) do |f|%>
    <div class="field">
    <div class="ui fluid icon input">
    <%= f.text_field :body%>
    <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe%>
    </div>
    </div>
    <%end%>    
  </div>
</div>
  <div class="three wide column">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos rerum reiciendis cumque expedita cum, nulla minima debitis aut architecto voluptate? Deleniti dignissimos aspernatur tenetur. Accusamus ipsa odio magnam asperiores!</p>  
    </div>
        </div>

</div>