<h1 class="ui centered header">
Speak your mind
</h1>


<div class="ui centered grid chat">
  <div class="ui card nine wide column">
  <%= render @messages %>

    <div class="extra content">
  <form class="ui reply form">
    <div class="field">
    <div class="ui fluid icon input">
  <input type="text" placeholder="Search...">
      <i class="bordered inverted orange edit icon"></i> 
    </div>    

    </div>
    
  </form>    
  </div>
</div>
  <div class="three wide column">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos rerum reiciendis cumque expedita cum, nulla minima debitis aut architecto voluptate? Deleniti dignissimos aspernatur tenetur. Accusamus ipsa odio magnam asperiores!</p>  
    </div>
</div>